@use "@/styles/mixin.module.scss" as *;
@use "@/styles/variable.module.scss" as *;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
 
  width: 100%;
  padding: 15px 2px;
   
}

.nav_links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @include lg_tablet {
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 250px;
    background-color: #111;
    padding-top: 80px;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
  }
}

.show_menu {
  right: 0 !important;
}

.nav_link {
  padding: 0 18px;
  @include tablet {
    padding: 20px 0;
  }
}

.nav_dot {
  background-color: #0d9eec;
  width: 5px;
  height: 5px;
  border-radius: 50px;

  @include lg_tablet {
    display: none;
  }
}

.link {
  text-decoration: none;
  color: #c9c9c9;
  transition: color 0.3s ease;

  &:hover {
    color: #ffffff;  
 
  }
}


.login_btn {
  background: linear-gradient(
    269.77deg,
    rgba(13, 131, 196, 1) 37.98076808452606%,
    rgba(253, 37, 37, 1) 95.19230723381042%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
}

.logo {
  display: flex;
  height: 90px;
  position: relative;

  @include tablet{
    height: 50px;
  
  }
}

.hamburger {
  display: none;
  cursor: pointer;

  @include lg_tablet {
    display: block;
    padding: 0 20px;
    z-index: 1100;
    color: white;
  }
}
