@use "@/styles/mixin.module.scss" as *;
@use "@/styles/variable.module.scss" as *;


 .navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
 }
  
 .nav_links{
  display: flex;
     align-items: center;
     flex-wrap: wrap;
 }

 .nav_link{
  padding: 0 15px;
 }


.nav_dot{
  background-color: #0D9EEC;
  width: 5px;
  height: 5px;
  border-radius: 50px;
 
}

.link{
  text-decoration: none;
  color:  #c9c9c9;
}

.login_btn {
  background: linear-gradient(
    269.77deg,
    rgba(13, 131, 196, 1) 37.98076808452606%,
    rgba(253, 37, 37, 1) 95.19230723381042%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
}
  
  .logo {
    display: flex;
    flex-direction: column;
    gap: 7.97px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 107.58px;
    height: 92px;
    position: relative;
    overflow: visible;
  }
 
