@use "@/styles/mixin.module.scss" as *;
@use "@/styles/variable.module.scss" as *;

.business_features {
  display: flex;
  justify-content: space-between;
}

.feature {
  div {
    font-size: 25px;
    margin-bottom: 20px;
  }
}

.monthly {
  position: relative;
  display: inline-block;
  font-size: 42px;
  padding-left: 20px;

  &::after {
    content: "";
    position: absolute;
    bottom: -10px; /* Yazının altından boşluq */
    left: 0;
    width: 200%;
    height: 15px;
    background-color: #0D9EEC;
  }
}

.yearly {
  position: relative;
  display: inline-block;
  font-size: 42px;
  padding-left: 20px;

  &::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 200%;
    height: 15px;
    background-color: #710DEC;
  }
}

.pricing_cards {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;

  .card {
    display: flex;
    justify-content: center;
    flex: 1 1 calc((100% - 20px) / 2);
  }
}
