@use "@/styles/mixin.module.scss" as *;
@use "@/styles/variable.module.scss" as *;

.container {
  background: white;
  border-radius: 20px;
  box-sizing: content-box;
  padding: 1rem 2rem;
  max-width: 500px;
  margin: auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

  h1 {
    font-weight: 600;
    margin: 0;
    margin-bottom: 1rem;
    color: black;


    strong {
      font-weight: 700;
    }
  }

  p {
    color: #333;
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
  }

  .input {
    width: 100%;
    box-sizing: border-box;
    padding: 1.5rem;
    border-radius: 2rem;
    border: 3px solid #ccc;
    font-size: 0.95rem;
  
     &::placeholder {
    font-size: 1rem;
    color: #999;
    }
    &::-webkit-scrollbar {
    display: none;
  }
   
  }
  hr{
    height: 2px;
    background-color: #707070;
    margin-bottom: 1rem;
  }
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .createBtn,
  .manualBtn {
    width: auto;
    padding: 0.8rem 2rem;
    border-radius: 9999px;
    font-size: 0.9rem;
    cursor: pointer;
    .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .createBtn,
  .manualBtn {
    width: auto;
    padding: 0.8rem 2rem;
    border-radius: 9999px;
    font-size: 0.9rem;
    cursor: pointer;
    white-space: nowrap;
    border: none;
  }

  .createBtn {
    background: linear-gradient(to right, #298BD1, #E1151F);
    color: white;
    transition: background 0.3s ease;

    &:hover {
      opacity: 0.9;
    }
  }

  .manualBtn {
    background: #f2f2f2;
    color: rgb(197, 57, 57);

    &:hover {
      background: #e0e0e0;
    }
  }
}

    border: none;
  }

  .createBtn {
    background: linear-gradient(
      90deg,
      rgba(13, 158, 236, 1) 0%,
      rgba(255, 1, 1, 1) 100%
    );
    color: white;
    transition: background 0.3s ease;

    &:hover {
      opacity: 0.9;
    }
  }

  .manualBtn {
    background: #f2f2f2;
    color: #555;

    &:hover {
      background: #e0e0e0;
    }
  }
}

}
