@use "@/styles/mixin.module.scss" as *;
@use "@/styles/variable.module.scss" as *;

.registration {
  max-width: 400px;
  margin: auto;
  margin-top: 30px;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: white;
  padding: 40px 30px;
  border-radius: 1.5rem;
}

.header {
  margin-bottom: 1.5rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  color: black;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1rem;
  text-align: left;
  color: #555;
}

.buttons {
  margin-bottom: 1rem;

  .button {
    background-color: black;
    color: white;
    display: inline-block;
    padding: 1rem 5rem;
    border-radius: 999px;
    font-size: 1rem;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #222;
    }
  }
}
.lnk{
  text-decoration: none;
  color: white;
}
.loginPrompt {
  font-size: 0.9rem;
  color: #555;

  span {
    cursor: default;
  }

  .loginQuestion {
    margin-right: 0.25rem;
    color: black;
    font-weight: 300;
  }

  .loginLink {
    color: #000000;
    cursor: pointer;
    text-decoration: underline;
    font-weight: 300;
  }
}
