@use "@/styles/mixin.module.scss" as *;
@use "@/styles/variable.module.scss" as *;

 
$blue-100: #0797e4;


.footer_container {
    padding:   30px 0;
    background-color: $blue-100;
    margin-top: 80px;
}
.footer {
  
 display: flex;
 flex-wrap: wrap;
 
  justify-content: space-between;
}

.copyright{
  text-align: center;
}

.link{
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 300;
}



.input-button-wrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.email-input {
  width: 100%;
  padding: 13px 100px 13px 13px; // space for button on right
  font-size: 16px;
  border-radius: 2rem;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.abun-ol-button {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  padding: 8px 16px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}
