@use "@/styles/mixin.module.scss" as *;
@use "@/styles/variable.module.scss" as *;

.sidebar {
  width: 10%;
  background-color: #2c3e50;
  color: white;
  padding: 1rem;
  min-width: 80px;
}

.nav {
  display: none;
  flex-direction: column;
  gap: 1rem;

  a {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.mobileHeader {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;

  .toggleBtn {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

/* Show nav by default on desktop */
@media (min-width: 768px) {
  .nav {
    display: flex !important;
  }

  .mobileHeader {
    display: none;
  }
}

.open {
  display: flex !important;
}
