@use "@/styles/mixin.module.scss" as *;
@use "@/styles/variable.module.scss" as *;

.container {
 background-color: black;
 position: relative;
 min-height: 100vh;
 display: flex;
 align-items: center;
 justify-content: flex-start;
 flex-direction: column;
 box-sizing: border-box;
 margin-bottom: 0;
 overflow: hidden;
 z-index: 100;
 gap: 30px;
}

.logo{
 padding-top: 20px;
}

.errorCode {
  width: 60%;         
  height: auto;     
  z-index: 100;
}
.message {
 margin: 50px 0;
  z-index: 100;
  font-size: 25px;
  text-align: center;
   @include tablet{
    font-size: 15px; 
  }
 
}

.link {
 color: white;
 margin: 30px  0;
  z-index: 100;
  font-size: 20px;
  @include tablet{
    margin: 80px  0;
    font-size: 15px; 
  }
}

.ellipse1{
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 20;

 
}

.ellipse2{
  position: absolute;
 
  
  height: 50%;
  bottom: 0;
   margin: 0;
  padding: 0;
  z-index: 10;
   

}