// pages/404.module.scss
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: black;
  color: #fff;
  text-align: center;
  position: relative;
}

.errorCode {
  font-size: 12rem;
  font-weight: bold;
 
}

.message {
  font-size: 1.5rem;
  z-index: 1;
 
}

.link {
  color: #ff5e5e;
  text-decoration: underline;
  z-index: 1;
  transition: color 0.2s ease;

  &:hover {
    color: #fff;
  }
}
