@use '@/styles/variable.module.scss' as *;
@use '@/styles/mixin.module.scss' as *;



$primary-color: #2c83e8;

body {
  font-family: var(--font-space-grotesk), sans-serif;
  font-weight: 700; 
  background: var(--black-100, #000000);
  color: white;
  
  margin: 0;
 

  
}

.body_container{
  padding: 0 100px;
  overflow: hidden;
 @include lg_tablet{
    padding: 0 20px;
  }
  @include mobile{
    padding: 0 10px;
  }
}

 .main{
   
  padding: 20px 100px;
  margin-left:  150px;
  @include mobile {
    margin-left:  0;
    padding: 40px 10px;
  }
 
 }

.m_b{
  margin-bottom: 73px;
}

.m_t{
  margin-top: 85px;
}

.d_flex{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.fs_42{
  font-size: 42px;
}

.fs_32{
  font-size: 32px;
  font-weight: 200;
}

