@use "@/styles/mixin.module.scss" as *;
@use "@/styles/variable.module.scss" as *;

.playerContainer {
  background-color: #bfbfbf;
  color: #fff;
  padding: 10px;
 
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 150px;
  width: calc(100% - 150px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;

  @include mobile {
    left: 0;
    width: 100%;
    padding: 0 15px;
  }
}

.songInfo {
  display: flex;
  align-items: center;
  gap: 10px;

  @include mobile{
    display: none;
  }
  .coverImage {
    border-radius: 8px;
  }

  .songText {
    display: flex;
    flex-direction: column;

    .title {
      font-weight: 700;
      font-size: 14px;
      color: #fff;
      margin: 0 0 4px 0;
    }

    .artist {
      font-size: 12px;
      color: #dcdcdc;
      margin: 0;
    }
  }
}

.controls {
  display: flex;
  align-items: center;
  gap: 15px;

  @include mobile{
    flex-direction: column;
  }

  button {
    padding: 5px 12px;
    background: transparent;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s ease;

    &:hover {
      background: #e0e0e0;
    }

    &:active {
      background: #d0d0d0;
    }
  }

  .progressWrapper {
    display: flex;
    margin-top: 25px;
    flex-direction: column;
    align-items: center;
    width: 200px;
    gap: 4px;
    position: relative;

    .progress {
      width: 100%;
      height: 3px;
      border-radius: 3px;
      appearance: none;
      cursor: pointer;
 

      &::-webkit-slider-thumb {
        appearance: none;
        height: 12px;
        width: 12px;
        background: #fff;
        border-radius: 50%;
        cursor: pointer;
      }

      &::-moz-range-thumb {
        height: 12px;
        width: 12px;
        background: #fff;
        border-radius: 50%;
        cursor: pointer;
      }
    }

    .timeRow {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-size: 10px;
      color: #fff;
      margin-top: 6px;

      span {
        font-family: monospace;
      }
    }
  }
}

.fullscreenPlayerContainer {
  position: fixed;
      box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #272727;
  color: white;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  .closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    color: white;
    font-size: 1.8rem;
    border: none;
    cursor: pointer;
    z-index: 10000;
  }

  .fullCoverWrapper {
    margin-bottom: 24px;

  }

  .fullCoverImage {
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
  }

  .songTextCenter {
    text-align: center;
    margin-bottom: 24px;

    h1 {
      font-size: 32px;
      font-weight: bold;
      padding: 0;
      margin: 0;
    }

    p {
      font-size: 24px;
      color: #ccc;
      padding: 0;
      margin: 0;
    }
  }



  .fullControlsWrapper{
 
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    @include lg_tablet{
      flex-direction: column;
    }
    
    
  }


  .fullControls {
    display: flex;
    
    align-items: center;
    justify-content: center;


    @include lg_tablet{
      margin-bottom: 30px;
    }
 
    button {
      background: transparent;
      color: rgb(255, 255, 255);
      font-size: 18px;
      padding: 8px 14px;
      border: none;
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        background: #e6e6e6;
      }

      &:active {
        background: #d6d6d6;
      }
    }
  }

  .progressWrapper {
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;

    .progress {
      width: 100%;
      height: 2px;
      border-radius: 3px;
      appearance: none;
      background: black;
      cursor: pointer;

      &::-webkit-slider-thumb {
        appearance: none;
        height: 14px;
        width: 14px;
        background: #fff;
        border-radius: 50%;
        cursor: pointer;
      }

      &::-moz-range-thumb {
        height: 14px;
        width: 14px;
        background: #fff;
        border-radius: 50%;
        cursor: pointer;
      }

      
    }
    
  
  }
}

.edit{
 margin: 10px;
 @include lg_tablet{
  margin-top: 30px;
 }
}

.currenttime{
  position: absolute;
  top: 15px;
  left: 0;
  font-size: 12px;
 
}
.duration{
  position: absolute;
  top: 15px;
  right: 0;
  font-size: 12px;
 
}