@use "@/styles/mixin.module.scss" as *;
@use "@/styles/variable.module.scss" as *;

.header {
  font-size: 42px;
  padding-left: 20px;
  position: relative;
  display: inline-block;

  &::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 120%;
    height: 15px;
    background-color: #0D9EEC;
  }
}

.contactCard {
  background: #ffffff;
  border-radius: 45px;
  margin-top: 30px;
  padding: 40px;
  color: black;
}

.contactContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sectionTitle,
.applicationTitle {
  font-size: 32px;
  font-weight: bold;
  font-family: "SpaceGrotesk-Bold", sans-serif;
}

.addressText,
.contactInfo {
  font-size: 20px;
  font-family: "SpaceGrotesk-Regular", sans-serif;
}

.contactForm {
  display: flex;
  gap: 40px;
  padding: 0 20px;
  flex-wrap: wrap;

  @include tablet {
    flex-direction: column;
    padding: 0 10px;
  }
}

.contactForm__column {
  flex: 1;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include tablet {
    min-width: 100%;
  }
}

.contactForm__field {
  display: flex;
  flex-direction: column;
}

.input {
  border: 1px solid #ccc;
  border-radius: 2rem;
  padding: 15px 20px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border: none;

  &:focus {
    outline: none;
    border: none;
  }
}

.inputWithIcon {
  position: relative;
  display: flex;
  align-items: center;
}

.inputWithIcon .input {
  padding-right: 32px;
}

.inputIcon {
  position: absolute;
  right: 8px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.submitButton {
  margin-top: auto;
  border: none;
  border-radius: 2rem;
  padding: 15px 20px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  width: 100%;

  @include tablet {
    margin-top: 20px;
  }
}

.inputLabel {
  color: #6e6e6e;
  font-family: "Space Grotesk";
  font-size: 18.057px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  margin-left: 10px;
}
