@use "@/styles/mixin.module.scss" as *;
@use "@/styles/variable.module.scss" as *;

.header {
  font-size: 42px;
  padding-left: 20px;
  position: relative;
  display: inline-block;

  &::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 120%;
    height: 15px;
    background-color: #0D9EEC;
  }
}

.contactCard {
  background: #ffffff;
  border-radius: 45px;
  margin-top: 30px;
  padding: 40px;
  color: black;
}

.contactContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sectionTitle,
.applicationTitle {
  font-size: 32px;
  font-weight: bold;
  font-family: "SpaceGrotesk-Bold", sans-serif;
}

.addressText,
.contactInfo {
  font-size: 20px;
  font-family: "SpaceGrotesk-Regular", sans-serif;
}

.contactForm {
  display: flex;
  gap: 40px;
  margin-top: 40px;

  &__column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
}

.inputLabel {
  color: #555;
  font-size: 16px;
  font-family: "SpaceGrotesk-Regular", sans-serif;
}

.input {
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 16px;
  width: 100%;
}

.inputWithIcon {
  position: relative;

  input {
    width: 100%;
    padding-right: 40px;
  }

  .inputIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
  }
}

.submitButton {
  margin-top: 10px;
  padding: 14px 20px;
  background-color: #0d9eec;
  color: white;
  font-size: 18px;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.3s ease;

  &:hover {
    background-color: #0a7ec4;
  }
}
