@use "@/styles/mixin.module.scss" as *;
@use "@/styles/variable.module.scss" as *;
 
 


.layout-container{
  position: relative;
  background-color: #E9E9E9;
  min-height: 100vh;
  color: black;
 
  

  
 }

 


 .announcement{
  background-color: #0D9EEC;
  text-align: center;
  padding: 15px 0;
 }