@use "@/styles/mixin.module.scss" as *;
@use "@/styles/variable.module.scss" as *;
 
 


.layout-container{
  position: relative;
  background-color: #E9E9E9;
  min-height: 100vh;
  color: black;
  

  
 }

 .main{
  padding: 20px 150px;
  margin-left:  150px;
  @include mobile {
    margin-left:  0;
    padding: 20px ;
  }
   @include lg_tablet {
     padding: 20px ;
  }
 }


 .announcement{
  background-color: #0D9EEC;
  text-align: center;
  padding: 15px 0;
 }