@use "@/styles/mixin.module.scss" as *;
@use "@/styles/variable.module.scss" as *;

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: #d9d9d9;
  padding: 2rem;
  border-radius: 10px;
  width: 95%;
  max-width: 500px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.content {
  font-size: 16px;
  color: #333;
  margin-bottom: 2rem;
}

.closeBtn {
  padding: 0.8rem 2rem;
  background: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
