@use "@/styles/mixin.module.scss" as *;
@use "@/styles/variable.module.scss" as *;

.container {
  padding: 20px;
  border-radius: 12px;
  min-height: 150vh;
}

.header {
  display: flex;
  justify-content: space-between;
  
   
  padding: 20px;
  background-color: #B2B2B2;
  @include lg_tablet{
    flex-direction: column-reverse;
  }
}

.playlistdata{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.label {
  color: #595959;
  margin: 0;
  font-size: 1.5rem;
}

.title {
  color: white;
  font-size: 3rem;
}

.actions {
  margin-top: 20px;
  display: flex;
  gap: 15px;

  button {
    padding: 15px;
    border-radius: 3rem;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }

  .play {
    background-color: #0099ff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .location, .add, .edit {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
}

.playlistImage {
  border-radius: 12px;
  overflow: hidden;
}

.songList {
  margin-top: 30px;
}

.songHeader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  font-weight: bold;
  text-align: center;
  color: #8e8e8e;
  padding: 10px;
}

.songRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  padding: 15px;
  background: #fff;
  margin-bottom: 10px;
  border-radius: 8px;

  &.active {
    background: #dcdcdc;
  }
  span{
    text-align: center;
  }
  .edit{
    text-align: right;
  }
  .cover {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
