@use "@/styles/mixin.module.scss" as *;
@use "@/styles/variable.module.scss" as *;
.container {
  background: white;
  box-sizing: content-box;
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  max-width: 640px;
  margin: 2rem auto;
  text-align: left;
  color: black;

  h2{
    margin: 0;
  }
}

.spotify {
  background: linear-gradient(to right, #3b82f6, #ef4444); // blue to red
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.description {
  color: #6b7280;
  font-size: 0.95rem;
  margin: 0.8rem 0 1.5rem;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 1rem;
}

.connect {
  background: linear-gradient(to right, #3b82f6, #ef4444);
  color: white;
  border: none;
  padding: 0.75rem 1.8rem;
  border-radius: 999px;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.9;
  }
}

.skip {
  background: transparent;
  border: none;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  color: black;

   
}
