@use "@/styles/mixin.module.scss" as *;
@use "@/styles/variable.module.scss" as *;

.container {
  background: white;
  border-radius: 20px;
  box-sizing: content-box;
  padding: 0.5rem 2rem;
  max-width: 520px;
  margin: auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  color: black;
  h1 {
    margin-bottom: 1rem;
    line-height: 1;
  }

  p {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }
}

.options {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.option {
  border: 2px solid black;
  border-radius: 9999px;
  padding: 0.8rem 1.5rem;
  font-size: 0.9rem;
  background: white;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;

 
}

.selected {
  background: linear-gradient(
    90deg,
    rgba(13, 158, 236, 1) 0%,
    rgba(255, 1, 1, 1) 100%
  );
  color: white;
  border: none;
}

.divider {
  border: none;
  border-top: 3px solid #707070;
  margin: 1rem 0;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  
   
  gap: 1rem;

  button {
    width: auto;
    border-radius: 9999px;
    padding: 0.8rem 1.2rem;
    font-size: 0.9rem;
    cursor: pointer;
    border: none;
    white-space: nowrap;
  }

  .generateBtn {
    background: linear-gradient(
    90deg,
    rgba(13, 158, 236, 1) 0%,
    rgba(255, 1, 1, 1) 100%
  );
    color: white;

    &:hover {
      opacity: 0.9;
    }
  }

  .detailBtn {
    background: #C9C9C9;
    color: #ffffff;

    &:hover {
      background: #dcdcdc;
    }
  }
}
