@use "@/styles/mixin.module.scss" as *;
@use "@/styles/variable.module.scss" as *;

 .container {
  padding: 20px;
}

.grid {
  display: grid;
   grid-template-columns: repeat(5, 1fr);
  gap: 20px;

  @include tablet{
    grid-template-columns: repeat(3, 1fr);
  }
   @include mobile{
    grid-template-columns: repeat(2, 1fr);
  }
}
 